<section class="d-flex flex-wrap justify-content-between">

    <div class="d-flex justify-content-between">
        <!-- shop icon -->
        <button [routerLink]="['/basket']" class="icon"> <span class="iconify" data-icon="maki:shop" data-width="24"
                data-height="24"></span></button>
        <!-- profile icon -->
        <button [routerLink]="['login']" class="icon"><span class="iconify" data-icon="iconoir:profile-circled"
                style="color: black;" data-width="24"></span></button>
        <!-- login  -->
        <button type="button" [routerLink]="['login']" value="ورود/ثبت نام" class=" btn btn-primary">
            ورود/ثبت نام
        </button>
    </div>


</section>