<!-- <section class="main d-flex justify-content-center">

    <div class="form d-flex flex-column justify-content-center ">
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">
    </div>











</section> -->


<div class="bg-image"></div>
<!-- sent sing up form to ts file -->
<form [formGroup]="signupform" (ngSubmit)="signupButtonClickHandler()">
    <div class="bg-text d-flex flex-column justify-content-center">
        <label for="user" class="label  d-flex justify-content-start">user name:</label>

        <input formControlName="username" type="text" placeholder="username" class="input" id="user">

        <label for="pass" class="label d-flex justify-content-start">password:</label>

        <input formControlName="password" type="password" placeholder="password" class="input" id="pass">

        <label for="email" class="label d-flex justify-content-start">email:</label>

        <input formControlName="email" type="email" placeholder="email" class="input" id="email">

        <div class="d-flex justify-content-end">
            <select class="role" id="role" formControlName="role">
                <option value="admin">admin</option>
                <option value="seller">seller</option>
                <option value="user">user</option>
            </select>

        </div>

        <button class="btn" [disabled]="signupform.invalid">signup</button>
    </div>
</form>