<section  class="d-flex flex-wrap justify-content-between">

<div class="d-flex">
    <!-- shop icon -->
   <button class="icon"> <span class="iconify" data-icon="maki:shop"  data-width="24"
        data-height="24"></span></button>
<!-- profile icon -->
<button class="icon"><span class="iconify" data-icon="iconoir:profile-circled" style="color: black;" data-width="24"></span></button>
  
</div>


<div class="d-flex"> 
    <!-- login button  -->
   <button type="button" value="ورود/ثبت نام" class=" btn btn-primary">
       ورود/ثبت نام
   </button>
</div>

</section>





<section class="body d-flex flex-wrap">
<div class="product">

<img src="../../assets/computer-software-featured-image.jpg" alt="" class="img d-flex">
<div class="d-flex flex-wrap justify-content-end">
 <h2 class="w-100 text-center">مانیتور 7 بعدی</h2>
 <p> 12,000,000</p>
</div>
</div>




</section>